@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #003366;
}

.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background: #003d7a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* =================================================
    Homepage
===================================================*/

.homepage-container {
    padding-top: 2em;
}

.homepage-container h1 {
    font-family: 'Baloo Bhai';
    font-size: 5rem;
    color: white;
    margin-bottom: 1em;
    background: #003366;
}

.highlight {
    color: #d4af37;
}

.form-container {
    position: relative;
}

.form-input {
    border: 0;
    border-bottom: 2px solid #1976d2;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
    height: 70px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #bbdefb;
}

.form-input:focus {
    outline: none;
}

.form-btn {
    width: 10%;
    position: absolute;
    right: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border: none;
}

.form-btn:hover {
    background: transparent;
}
